.container {
	padding: 20px 10px 10px 10px;
}

.campsiteImage {
	border-radius: 10px;
	overflow: hidden;
	width: 100px;
	height: 100px;
	position: relative;
}
.campsiteImage img {
	border-radius: 10px;
}
.campsitePreview {
	display: flex;
	gap: 10px;
}
.camspiteInfo {
	flex: 1;
}
.campsiteTitle {
	font-weight: bold;
	color: var(--foreground);
}
.campsiteDescription {
	color: var(--neutral700);
}
.datePickerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 5px 12px 5px;
}
.dualDates {
	display: flex;
	align-items: center;
	gap: 6px;
}
