.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	width: 280px;
	height: 185px;
	background: var(--background);
	border: 1px solid var(--neutral50);
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.05));
	border-radius: 19px;
}

.review {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.modalContainer {
	display: flex;
	flex-direction: column;
	gap: 17px;
	margin-top: 20px;
	padding: 5px;
}

.rating {
	display: flex;
	gap: 10px;
	width: 100%;
}

.modalRating {
	display: flex;
	gap: 15px;
	width: 100%;
}

.username {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modalUsername {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.5;
}
