.FeedSearchButtonContainer {
	padding: 10px;
}
.FeedSearchButtonShadow {
	padding: 10px 20px 10px 20px;
	border: 1px solid var(--neutral50);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
}

.FeedSearchButtonContent {
	display: flex;
	gap: 15px;
	align-items: center;
}

.FilterButton {
	border-radius: 100%;
	display: flex;
	padding: 7px;
	border: 1px solid var(--neutral50);
	align-items: center;
	justify-content: center;
}

.label {
	width: 100%;
	color: var(--neutral900);
}
