.container {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 0.5em;
}

.readMore {
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 500;
}
