.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.5;
}

.readMore {
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 500;
}
