.iconsWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.iconContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
}

.iconName {
	color: var(--neutral500);
	font-size: var(--fontSize-tiny);
}
