@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');
/* autoprefixer grid: autoplace */

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	color: var(--neutral700);
	font-size: 16px;
}
/* This will hide the scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
	display: none;
}

/* This will hide the scrollbar for IE and Edge */
div {
	-ms-overflow-style: none;
}

/* This is for Firefox */
div {
	scrollbar-width: none;
}

* {
	-webkit-touch-callout: default;

	box-sizing: border-box;
	letter-spacing: normal;
	font-family: 'Poppins', -apple-system, Arial, BlinkMacSystemFont, roboto slab, droid serif, segoe ui, Ubuntu,
		Cantarell, Georgia, serif !important;
}
hr {
	border-top: 0.1px solid rgba(0, 0, 0, 0);
	height: 1px;
	background: linear-gradient(90deg, var(--hr-light) 0%, var(--hr-dark) 50%, var(--hr-light) 100%);
	width: 100%;
}
.icon-button {
	--padding-start: unset !important;
	--padding-end: unset !important;
	color: var(--neutral700);
	height: auto !important;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

div[data-test-id='virtuoso-scroller'] {
	overscroll-behavior-y: contain;
}

section {
	margin: 0.2em;
}
ion-button * {
	text-decoration: none !important;
}

ion-button a {
	text-decoration: none !important;
}
ion-toolbar {
	border-bottom: 1px solid var(--neutral10);
}
ion-range::part(pin) {
	color: var(--neutral);
	font-weight: 600;
	background-color: var(--primary);
	border-radius: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	margin-top: 15px;
}
.layoutContainer {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
}
.contentWrapper {
	padding: 0 10px 0 10px;
	height: 100%;
}
.innerContainer {
	max-width: 500px;
	width: 100%;
}

.nolink {
	all: unset;
}
.searchbar-input {
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 22px !important;
	letter-spacing: -0.408px !important;
	text-align: left !important;
}
.searchbar-input {
	background: none !important;
	box-shadow: none !important;
	height: 50px !important;
	padding-left: 25px !important;
}
.searchbar-input::-webkit-input-placeholder {
	color: var(--neutral700) !important;
	font-size: 15px !important;
}
.searchbar-search-icon {
	top: unset !important;
	left: 0px !important;
	top: 10px !important;
	height: 30px !important;
}
a {
	color: var(--secondary);
}
a:hover {
	color: var(--primary-tint);
}

.fullwidth {
	width: 100%;
}

.radius8 {
	border-radius: 8px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon svg {
	height: 100%;
	width: 100%;
}
.iconCircle {
	background: var(--neutral50);
	border-radius: 100%;
	width: 29px;
	height: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--transition-default);
}

.blackIcon {
	color: var(--neutral900);
}
/* spacing */
.space10 {
	height: 10px;
}
.space20 {
	height: 20px;
}
.space30 {
	height: 30px;
}
.space40 {
	height: 40px;
}
.space50 {
	height: 50px;
}

.composeTextArea {
	padding: 20px;
	box-shadow: inset 0 8px 8px -6px rgba(0, 0, 0, 0.097);
	background: var(--neutral10);
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	border: none;
	width: 100%;
	outline: none;
	border-bottom: 0.1px solid var(--neutral150-rgb);
}

.topEdit {
	opacity: 1;
}

.postNav {
	text-decoration: inherit;
	color: inherit;
}

@media screen and (min-width: 400px) {
	.searchbar-input-container ion-icon {
		height: 30px !important;
		padding-left: 0px !important;
	}
	.searchbar-input-container {
		padding-left: 5px !important;
	}
	ion-toolbar,
	.appContainer-tabs,
	.appContainer {
		border-left: 1px solid var(--neutral50);
		border-right: 1px solid var(--neutral50);
	}
}
@media screen and (max-width: 600px) and (max-height: 1000px) {
	.topEditOpen {
		max-height: 350px;
		transition-property: max-height;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		overflow: hidden;
	}

	.topEditClosed {
		max-height: 0px;
		transition-property: max-height;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		overflow: hidden;
	}
}

.post-edit-invalid {
	border-bottom: 1px solid red;
}

.post-edit-no-error {
	max-height: 0px;
	transition-property: max-height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.noscroll {
	--overflow: hidden;
	overflow: hidden;
	pointer-events: none;
}
.noscroll > * {
	pointer-events: all;
}

.noscroll::-webkit-scrollbar {
	display: none !important;
}

.noscrollinner:not([scrollable]) {
	overflow-y: auto !important;
}

.scrollContent {
	overflow: scroll;
}
.pill {
	background: var(--neutral50);
	padding: 1px 8px 1px 8px;
	border-radius: 8px;
}

.list-md {
	background: rgb(0, 0, 0, 0) !important;
}
ion-item-native {
	display: none !important;
	background: rgba(0, 0, 0, 0) !important;
}

ion-datetime {
	border-radius: 10px;
	overflow: hidden;
	padding: 0 10px 0 10px;
}
.ion-delegate-host {
	border-radius: 10px;
	overflow: hidden;
}

.popover > .arrow {
	color: red;
}
ion-tab-bar {
	height: 70px;
}
ion-tab-button {
	font-size: 10px;
	--color: var(--neutral700);
	--padding-end: 0px;
	--padding-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	max-width: 100px;
	--color-selected: var(--primary);
}
.pointer {
	cursor: pointer;
}
.tab-button {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}
ion-toolbar {
	margin: 0;
	padding: 0 5px 0 5px !important;
}
ion-tabs {
	pointer-events: none;
}

ion-tab-button {
	pointer-events: all;
}
ion-header {
	margin: auto;
	max-width: 650px;
}
ion-content > .overflow-y {
	overflow: hidden !important;
}
.appContainer,
.appContainer-tabs {
	margin: auto;
	max-width: 650px;
	background: var(--background);
	position: relative;
}
.appContainer {
	height: 100%;
}
.appContainer-tabs {
	height: calc(100% - 115px);
}
.versionDisabled {
	display: none;
}

.versionEnabled {
	display: block;
	color: red;
}

.postBodyParagraph {
	margin: 0.5em;
}

.button {
	border-radius: 43px;
}

.card {
	background: var(--neutral);

	box-shadow: var(--shadow-default);
	border-radius: 10px;
	padding: 10px;
}
blockquote {
	background: var(--neutral50-rgb);
	border-left: 10px solid var(--neutral700);
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}

pre code {
	display: block;
	font-family: monospace !important;
	background: none;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	padding: 0;
}
.pageContainer {
	padding: 20px;
}
.IonFabButton * {
	height: 55px;
	width: 55px;
}
ion-fab-button {
	height: 65px;
	width: 65px;
}
ion-menu {
	all: unset;
	--background: var(--primary);
}

.center-align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.tab-selected {
	box-shadow: inset 0px -8px 0px -5px var(--primary500-rgb);
	animation-name: tabSelect;
	animation-duration: 1s;
}
.hiddenElement {
	visibility: hidden;
	height: 0px;
	display: none;
}
.icon-graphic {
	width: 50px;
	height: 50px;
	color: var(--background);
	padding: 10px;
	background-color: var(--primary50);
}
.successColor {
	color: var(--ion-color-success);
}
.dangerColor {
	color: var(--ion-color-danger);
}

.iconCircle {
	background: var(--secondary);
	border-radius: 100%;
	color: var(--neutral10);
	padding: 7px;
}
.datetime-picker-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20003; /* Increase the z-index value to ensure it's above the ion-popover */
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5); /* Add a transparent background to cover the whole screen */
}

.datetime-picker-container-inner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calendar-background {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

ion-popover {
	--backdrop-opacity: 0.6;
	--box-shadow: 0 0px 5px 0 var(--neutral150-rgb);
	--width: 200px;
	--z-index: 10000 !important;
}
ion-popover::part(backdrop) {
	background-color: rgba(0, 0, 0, 0.173);
}

ion-datetime {
	background-color: var(--background);
}

.ion-modal-custom .ion-page {
	background: rgba(255, 255, 255, 0);
	display: flex;
	justify-content: center;
	align-items: center;
}
.ion-modal-custom::part(content) {
	background-color: transparent !important;
	box-shadow: none !important;
}
.popover-viewport ion-picker-internal {
	background: rgba(255, 255, 255, 0.452);
}

@keyframes tabSelect {
	from {
		box-shadow: inset 0px -8px 0px -8px var(--primary50-rgb);
	}
	to {
		box-shadow: inset 0px -8px 0px -5px var(--primary500-rgb);
	}
}
