.dotIndicatorInner {
	transition: var(--transition-default);
}

.pageProfileHeader {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.pageProfileImage {
	height: 160px;
	width: 160px;
	text-align: center;
	overflow: hidden;
}
.pageBannerTitle {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: var(--primary700);
	font-weight: 600;
	font-size: var(--fontSize-h3);
}

.pageSubtitle {
	text-align: center;
	margin-top: 10px;
}

.dotIndicator {
	border: 1px solid var(--neutral300);
	border-radius: 100%;
	width: 12px;
	height: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dotIndicatorDisabled {
	opacity: 0.3;
}
.dotIndicatorInner {
	width: 7px;
	height: 7px;
	background: var(--primary);
	border-radius: 100%;
}

.imageTracker {
	display: flex;
	gap: 30px;
	width: 100%;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}
.imageTrackerDot {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.imageContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	margin-bottom: 0px;
	background: var(--neutral900);
}
.containedImage {
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden; /* Add this to hide any parts of the image that overflows the div */
}

.containedImage img {
	position: absolute;
	top: 0; /* Add this to align the image at the top of the div */
	left: 0; /* Add this to align the image at the left of the div */
	width: 100%;
	height: 100%; /* Add this to make the image take the full height of the div */
	object-fit: cover;
}

.menuItemContainer {
	padding: 20px 10px 20px 0px;
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
	cursor: pointer;
}
.menuItemLabel {
	font-weight: 600;
	display: flex;
}
.iconItem {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.noResults {
	height: 400px;
	text-align: center;
	padding: 0 30px 0 30px;
}
.contrastColor {
	color: var(--ion-color-primary-contrast);
}
.controlIcon {
	width: 25px;
	height: 25px;
	padding: 0;
	margin: 0;
}
