h1,
h2,
h3,
h4,
h5,
p,
.body,
.callout,
.footnote,
.caption {
	margin: 0;
	line-height: 1.25;
	font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
.callout,
.footnote {
	color: var(--foreground);
}
.caption {
	color: var(--neutral500);
}
h1,
.h1-bold,
.h1-regular {
	font-size: 2em;
}
h2,
.h2-bold,
.h2-regular {
	font-size: 1.75em;
}

h3,
.h3-bold,
.h3-regular {
	font-size: 1.5em;
}

h4,
.h4-bold,
.h4-regular {
	font-size: 1.25em;
}
h5,
.h5-bold,
.h5-regular,
.subtitle {
	font-size: 1.15em;
}
.subtitle {
	text-transform: uppercase;
}
.medium {
	font-weight: 500;
}
.bold {
	font-weight: 700;
}
p {
	margin-bottom: 15px;
}
.body,
p {
	color: var(--neutral700);
	font-size: 16px;
	line-height: 1.5;
}
.callout {
	font-size: 15px;
}
.footnote {
	font-size: 14px;
}
.caption {
	font-size: 13px;
}
