.container {
	display: flex;
	flex-direction: column;
	gap: 26px;
	margin-left: -10px;
	margin-right: -10px;
	overflow: visible;
}

.rating {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--foreground);
}

.header {
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-between;
}

.buttons {
	display: flex;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}

.reviewButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: var(--background);
	border: 1px solid var(--foreground);
	border-radius: 11px;
}

.seeAllButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 30%;
	background-color: var(--background);
	border: 1px solid var(--foreground);
	border-radius: 7px;
}

.noReviewsContainer {
	padding: 0px 10px 0px 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.largeButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: var(--background);
	border: 1px solid var(--foreground);
	border-radius: 11px;
}

.largeButtonContainer {
	display: flex;
	justify-content: center;
}

.reviews {
	display: flex;
	gap: 15px;
	overflow-x: scroll;
}

.reviewsPadding {
	margin-left: 5px;
}

.modalRating {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 25px 15px 25px 15px;
	gap: 8px;
	color: var(--foreground);
	background: var(--background);
	z-index: 3;
}

.addReviewContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 16px;
	gap: 30px;
}
.addReviewRating {
	display: flex;
	gap: 6px;
}
.addReviewText {
	width: 70%;
	text-align: center;
}

.addReviewUser {
	display: flex;
	gap: 15px;
	width: 100%;
}
.addReviewInput {
	width: 100%;
	height: 150px;
	border: 1px solid var(--neutral300);
	border-radius: 8px;
	padding: 10px;
	resize: none;
}
.addReviewInputContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}
.submitButton {
	width: 100%;
	height: 55px;
	border-radius: 8px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}
