.formError {
	font-size: var(--fontSize-tiny);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
}
