.textSmall {
	font-size: var(--fontSize-small);
}
.textRegular {
	font-size: var(--fontSize-h5);
}
.label {
	display: inline-block;
	color: var(--neutral700);
}
.iconRight {
	padding-right: 7px;
}
.iconLeft {
	padding-left: 7px;
}
